<body id="login" class="full-page">
  <div class="translucent center">


    <h1 class="center-text">Login</h1>
      <div class="translucent center">

        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "mid-section alert alert-#{key}", role: "alert" %>
        <% end %>

        <%= bootstrap_form_for sessions_path do |f| %>
          <%= f.text_field "email" %><br>
          <%= f.password_field "password" %><br>
          <%= submit_tag "Login", class: "btn btn-primary" %>
        <% end %>

      </div>
      <br><br>
      <%= link_to "Forgot Password?", new_password_reset_path %>
  </div>

</body>
