<h1>Login</h1>
<% if flash[:errors] %>
  <h3><% flash[:errors] %></h3>
<% end %>

<%= bootstrap_form_for sessions_path do %>
  <%= label_tag "Email" %>
  <%= text_field_tag "Email" %><br>
  <%= label_tag "Password" %>
  <%= password_field_tag "Password" %><br>
  <!-- <%= text_field_tag "" %> -->
  <%= submit_tag "Login" %>
<% end %>
