<body id="login" class="full-page">
  <div class="translucent center">

    <h1 class="center-text">Login</h1>
      <div class="translucent center">
        <% if flash[:errors] %>
          <div class="mid-section alert alert-danger" role="alert">
            <%= flash[:errors] %>
          </div>
        <% end %>
        <%= bootstrap_form_for sessions_path do |f| %>
          <%= f.text_field "email" %><br>
          <%= f.password_field "password" %><br>
          <%= submit_tag "Login", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

</body>
