<div class= "col-md-6">
  <% if flash[:errors] %>

    <div class="mid-section alert alert-danger" role="alert">
      <% flash[:errors].each do |e| %>
        <%= e %> <br/>
      <% end %>
    </div>

  <% end %>

  <%= bootstrap_form_for @user do | f | %>
       <%= f.text_field :name %>
       <%= f.email_field :email %>
       <%= f.password_field :password %>
       <%= f.text_area :bio %>
       <%= f.file_field :avatar, hide_label: true, placeholder: "Upload a profile image" %>
       <%= f.submit button_label, class: "btn btn-primary" %>
  <% end %>

</div>
