<body id="users-index" class="full-page">
  <div class="translucent center">
    <h1>List of Users</h1>
  </div>
  <% @users.each do |u| %>

    <% if current_user.id != u.id %>
      <div class="translucent center container-fluid">
        <div class="col-md-2">
          <%= link_to image_tag(u.avatar.url(:thumb)), u %><br>
        </div>
        <div class="col-md-10">
          <%= link_to u do %>
            <h3><%= u.name %></h3>
          <% end %>
          <%= u.bio == "" ? "#{u.name}'s bio n/a." : u.bio %>
        </div>
        <% if !current_user.following?(u) %>
          <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, u.id %></div>
            <%= f.submit "Follow", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.active_relationships.find_by(followed_id: u.id), html: { method: :delete }) do |f| %>
            <%= f.submit "Unfollow", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <% end %>
</body>
