<% if flash[:errors] %>
  <ul>
	  <% flash[:errors].each do |error| %>
  <li><%= error %></li>
	  <% end %>
	</ul>
<% end %>


<h1>Create New User</h1>

<%= bootstrap_form_for @user do | f | %>

     <%= f.text_field :name %>
     <%= f.email_field :email %>
     <%= f.password_field :password %>
     <%= f.text_area :bio %>
     <%= f.file_field :avatar %>
     <%= f.submit 'Create User!', class: "btn btn-primary" %>
<% end %>
