<h1><%= @user.name %></h1>
<img src=<%= @user.img %>>
<h2>Bio</h2>
<p><%= @user.bio %></p>
<% if @playlists %>
  <h2>Playlists</h2>
  <% @playlists.each do |p| %>
    <%= link_to p.name, p %>
  <% end %>
<% end %>
<h3>Contact</h3>
<p><%= @user.email %></p>
