<body class="offer <%= myclass %>">
  <div class="translucent center">
  <% if flash[:errors] %>

    <div class="mid-section alert alert-danger translucent" role="alert">
      <% flash[:errors].each do |e| %>
        <%= e %><br/>
      <% end %>
    </div>

  <% end %>

  <%= bootstrap_form_for [@user,@song] do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :code %>
    <%= f.text_field :genre %>
    <%= f.file_field :avatar, hide_label: true, placeholder: "Upload an image" %>
    <%= f.file_field :url, hide_label: true, placeholder: "Upload a song file" %>
    <%= f.hidden_field :user_id, :value => @song.user_id %>
    <%= f.submit button_label, class: "btn btn-primary" %>
  <% end %>
</div>
</body>
