<% if flash[:errors] %>
  <h1>Errors: </h1>
  <ul>
    <% flash[:errors].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>
  <%= f.label :code %>
  <%= f.text_area :code %> <br>
  <%= f.label :genre %>
  <%= f.text_field :genre %> <br>
  <%= f.label :song_url %>
  <%= f.text_field :song_url %> <br>
  <%= f.label :img %>
  <%= f.text_field :img %> <br><br>
  <%= f.submit button_label %>
<% end %>
