<div class= "col-md-6">
  <% if flash[:errors] %>

    <div class="mid-section alert alert-danger" role="alert">
      <% flash[:errors].each do |e| %>
        <%= e %><br/>
      <% end %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <% end %>

  <%= bootstrap_form_for [@user,@song] do |f| %>

    <%= f.text_field :title %>

    <%= f.text_area :code %>

    <%= f.text_field :genre %>
    <%= f.file_field :avatar %>

    <%= f.file_field :url %>

    <%= f.hidden_field :user_id, :value => @song.user_id %>
    <%= f.submit button_label, class: "btn btn-primary" %>
  <% end %>
</div>
<!--
<div class="alert alert-danger" role="alert">
  This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div> -->
