<body id="song-show" class="full-page">
  <div class="translucent center">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=ruby;skin=desert"></script>
    <h1>Title: <%= @song.title %></h1>
    <h4>Genre:
      <% if @song.genre != "" %>
        <%= @song.genre %>
      <% else %>
        n/a
      <% end %>
    </h4>

    <br>

    <% if @user.avatar.url != "/images/original/missing.png" %>
      <%= image_tag @song.avatar.url(:medium) %><br>
    <% end %>

    <audio controls autoplay>
      <source src="<%= @song.url.url %>" type="audio/ogg">
      <source src="<%= @song.url.url %>" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <br><br>

    <% if logged_in? && @user == current_user %>
        <h5>Add this song to your playlist:</h5>

        <%= form_for @song_playlist, url: add_playlist_song_path do |f| %>
          <%= f.collection_select :playlist_id, @playlists, :id, :name, :prompt => 'Select Playlist' %>
          <%= f.submit "Add Song" %>
        <% end %>

    <% end %>
    <br><br>

    <pre class="prettyprint">
      <%= @song.code %>
    </pre>

    <% if logged_in? && @user == current_user %>
      <%= link_to "Edit Song", edit_user_song_path(@song)%>
    <% end %>
  </div>
</body>
