
<h1><%= @song.title %></h1>
<% if session[:user_id] %>
  <% form_for @song_playlist do |f| %>
    <%= f.label :playlist %>
    <%= f.collection :playlist_id, @playlists, :id, :name %>
  <% end %>
<% end %>
<img src="<%= @song.img %>" alt=""><br>
<%= @song.code %><br>
<%= @song.song_url %><br>
<%= @song.genre %><br>




<!--
# create_table "playlists", force: :cascade do |t|
#   t.integer "user_id"
#   t.string "name"
#   t.string "description"
#   t.datetime "created_at", null: false
#   t.datetime "updated_at", null: false
# end
#
# create_table "song_playlists", force: :cascade do |t|
#   t.integer "playlist_id"
#   t.integer "song_id"
# end
#
# create_table "songs", force: :cascade do |t|
#   t.string "song_url"
#   t.string "code"
#   t.string "title"
#   t.string "genre"
#   t.string "img"
#   t.integer "user_id"
#   t.datetime "created_at", null: false
#   t.datetime "updated_at", null: false
# end
#
# create_table "users", force: :cascade do |t|
#   t.string "name"
#   t.string "email"
#   t.string "password"
#   t.string "bio"
#   t.string "img"
#   t.datetime "created_at", null: false
#   t.datetime "updated_at", null: false

# end -->
