<div class="col-md-6">
  <% if flash[:errors] %>
    <div class="mid-section alert alert-danger" role="alert">
      <% flash[:errors].each do |e| %>
        <%= e %><br/>
      <% end %>
    </div>

  <% end %>

  <%= bootstrap_form_for [@user, @playlist] do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.submit button_label, class: "btn btn-primary"  %>
  <% end %>
</div>
