<body id="playlist-show" class="full-page">
  <div class="translucent center">
    <h1><%= @playlist.user.name %>'s '<%= @playlist.name %>'</h1>
    <h4>Creator:
      <% if @playlist.user.name != "" %>
        <%= link_to @playlist.user.name, @playlist.user %>
      <% else %>
        n/a
      <% end %>
    </h4>

      <%= @playlist.description %>

    <br><br>
    <% if @playlist.songs.empty? %>
      <p>There are currently no songs. </p>
    <% else %>
      <ol>
        <% @playlist.songs.each do |s| %>
            <li>
              <%= link_to s.title, [@user, s] %>
              <% if logged_in? && @playlist.user == current_user %>
                [<%= link_to "delete", remove_playlist_song_path(song_id: s), :method => :post %>]
              <% end %>
            </li>
        <% end %>
      </ol>
    <% end %>
    <br>
    <% if logged_in? && @playlist.user == current_user %>
      <div class="row container-fluid center-text">
        <h4><%= link_to "Edit Playlist", edit_user_playlist_path(@playlist.user, @playlist) %></h4>
      </div>
    <% end %>
  </div>
</body>
