<body id="playlist-show" class="full-page">
  <div class="translucent center">
    <div>
      <h1 class="center-text"><%= @playlist.user.name %>'s '<%= @playlist.name %>'</h1>
      <h4 class="center-text">Creator:
        <% if @playlist.user.name != "" %>
          <%= link_to @playlist.user.name, @playlist.user %>
        <% else %>
          n/a
        <% end %>
      </h4>

      <h4 class="center-text">Mood:
        <% if @playlist.mood != "" %>
          <%= @playlist.mood %>
        <% else %>
          n/a
        <% end %>
      </h4>

      <p class="center-text"><%= @playlist.description %></p>
    </div>

    <div class="flex">
      <% if @playlist.songs.empty? %>
        <p>There are currently no songs. </p>

      <% else %>

        <% @playlist.songs.each do |s| %>
          <div class="translucent margins center-text padding">
          <h3><%= link_to s.title, user_song_path(s.user, s) %></h3>
          <%= link_to (image_tag s.avatar.url(:thumb)), user_song_path(s.user, s) %>
          <br><br>
          <audio controls>
            <source src="<%= s.url.url %>" type="audio/ogg">
            <source src="<%= s.url.url %>" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <h5>By: <%= link_to s.user.name, s.user %></h5>
          <h5>Genre:
            <% if s.genre != "" %>
              <%= s.genre %>
            <% else %>
              n/a
            <% end %>
          </h5>
            <% if logged_in? && @playlist.user == current_user %>
              [<%= link_to "delete", remove_playlist_song_path(song_id: s), :method => :post %>]
            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>

</div>


<% if logged_in? && @playlist.user == current_user %>
  <div class="menu">
    <a href= <%= edit_user_playlist_path(@playlist.user, @playlist) %> >
      <div class="translucent center center-text border-all">
        <h4>Edit Playlist</h4>
      </div>
    </a>
  </div>
<% end %>


  <div class="translucent center">
    <h4>Add a Comment</h4>
    <%= bootstrap_form_for [@user, @playlist, @playlist_comment] do |f| %>
      <%= f.text_area :content, hide_label: true %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :playlist_id, :value => @playlist.id %>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
    <% end %>
    <br>

    <h4>Comments</h4>
    <% if @comments %>
      <% @comments.each do |c| %>
        <div class="translucent">
          <div class="flex-left">
            <div class="col-md-2">
              <%= link_to (image_tag c.user.avatar.url(:thumb)), c.user %>
              <div class="center-text">
                <%= c.user.name %>
              </div>
            </div>
            <h5><%= c.content %></h5>
          </div>
        </div>
          <% if logged_in? && c.user == current_user %>
            <%= form_tag user_playlist_playlist_comment_path(@user, @playlist, c, c.content), method: 'delete' do %>
              <%= submit_tag 'Delete Comment', class: "btn-xs btn-primary" %>
            <% end %>
          <% end %>
        <br>
      <% end %>
    <% end %>

  </div>
</body>
