<!DOCTYPE html>
<html>
  <head>
    <title>PiCloud</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'glyphicons-240-albums.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-inverse translucent-black">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>"><strong>PiCloud</strong></a>
        </div>
        <ul class="nav navbar-nav">
            <% if logged_in? %>
              <li><a href="<%= user_path(current_user) %>">Your Profile</a></li>
            <% else %>
              <li><a href="<%= login_path %>">Your Profile</a></li>
            <% end %>

          <li>
            <% if logged_in? %>
              <a href="<%= user_songs_path(current_user) %>">Songs</a>
            <% else %>
              <a href="<%= login_path %>">Songs</a>
            <% end %>
          </li>
          <li>
            <% if logged_in? %>
              <a href="<%= user_playlists_path(current_user) %>">Playlists</a>
            <% else %>
              <a href="<%= login_path %>">Playlists</a>
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         <% if logged_in? %>
            <li><%= link_to "Logout", logout_path, method: "POST" %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
