<!DOCTYPE html>
<html>
  <head>
    <title>PiCloud</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'glyphicons-240-albums.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
